body {
    margin: 0;
    padding: 8px;
    white-space: nowrap;
}

h1 {
    font-family: "Felipa", serif;
    font-size: 2.5em;
    text-align: center;
}

@media (prefers-color-scheme: light) {  
  body {  
     background: #f8f9fa;    
     color: black;  
  }
}

@media (prefers-color-scheme: dark) {  
  body {  
     background: #303134;    
     color: white;
  }
  a {
    color: #4f8cff;
  }
}